input[type="text"],
input[type="number"] {
    font-family: verdana, arial, sans-serif;
}

input[type="number"] {
    text-align: right;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
    background-color: #eeeeee;
    color: #333333;
}

.number-sm,
.number-md,
.number-lg,
.number-damage {
    height: 18px;
    font-size: 12px;
    border: 1px solid #888888;
    border-radius: 2px;
    text-align: center;
}

.number-sm {
    width: 40px;
}

.number-md {
    width: 50px;
}

.number-lg {
    width: 64px;
}
